@page
@model AboutUsModel
@{
    ViewData["Title"] = "About Us";
}

<div class="container my-5">
  <h2 class="text-center mb-5">Team 2H2T</h2>

<div class="row row-cols-1 row-cols-md-2 row-cols-lg-4 g-4">
  <div class="col">
    <div class="card h-100">
      <div class="card-body">
        <h5 class="card-title">Nguyễn Tấn Trung</h5>
        <h6 class="card-subtitle mb-2 text-muted">MSSV: SE151136</h6>

      </div>
    </div>
  </div>
  <div class="col">
    <div class="card h-100">
      <div class="card-body">
        <h5 class="card-title">Đào Minh Trí</h5>
        <h6 class="card-subtitle mb-2 text-muted">MSSV: SE151125</h6>

      </div>
    </div>
  </div>
  <div class="col">
    <div class="card h-100">
      <div class="card-body">
        <h5 class="card-title">Mai Gia Huy</h5>
        <h6 class="card-subtitle mb-2 text-muted">MSSV: SE150812</h6>

      </div>
    </div>
  </div>
  <div class="col">
    <div class="card h-100">
      <div class="card-body">
        <h5 class="card-title">Hiếu Trần</h5>
        <h6 class="card-subtitle mb-2 text-muted">MSSV: SE151301</h6>

      </div>
    </div>
  </div>
</div>
</div>
