@page
@model OnlineJobsApp.Pages.JobSeeker.JobApplicationsModel
@{
    ViewData["Title"] = "List Job Apply";
}


<div class="card">
    <div class="card-header">
        <div class="row">
            <div class="col-md-6">
                <strong class="text-uppercase text-black-50">List Job Apply</strong>
            </div>

        </div>
    </div>
    <div class="card-body p-3">

        <table class="table table-bordered table-hover">
            <thead class="thead-dark">
        <tr>
            <th>
                Tên Công việc
            </th>
            <th>
                Nhà tuyển dụng
            </th>

            <th>
                Trạng thái
            </th>
            <th>
                CV
            </th>
        </tr>
    </thead>
    <tbody>
                @foreach (var item in Model.Candidates)
                {
                        <tr>
                            <td>
                            @Html.DisplayFor(modelItem => item.Post.Title)
                            </td>
                            <td>
                            @Html.DisplayFor(modelItem => item.Post.Com.FullName)
                            </td>
                            <td>
                            @if (item.Status == null)
                            {
                                <span class="text-secondary font-weight-bold">Chưa xác nhận</span>
                            }
                            else if (item.Status == 1)
                            {
                                <span class="text-success font-weight-bold">Đã xác nhận</span>
                            }
                            else
                            {
                                <span class="text-danger font-weight-bold">Đã bị từ chối</span>
                            }
                            </td>
                            <td>
                                 <a href="@Url.Content("~/" + item.Cv)" target="_blank">View CV</a>
                            </td>

                        </tr>
                }
    </tbody>
</table>
</div>
