@page
@model OnlineJobsApp.Pages.Admin.MainPageAdminModel
@{
}

<h1>Welcome Back, Admin!</h1>

<div class="text-center">
    <div class="my-3 button">
        <a class="btn btn-primary" href="/Admin/Index">Manage User</a>
    </div>
    <div class="my-3 button">
        <a class="btn btn-primary" href="/Admin/CompanyIndex">Manage Company</a>
    </div>
    <div class="my-3 button">
        <a class="btn btn-primary" href="/Admin/MajorPage">Manage Major</a>
    </div>
    <div class="my-3 button">
        <a class="btn btn-primary" href="/Admin/ReportedPost">View Reported Post</a>
    </div>
</div>
<style>
    .button{
        display:inline-block; 
        margin: 0 5%;
    }
</style>
